<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <script src="/admin.js"></script>
  </head>
  <body>
    <h1>This is the admin page</h1>
    <article>
      <h3>Packages</h3>
      <section class="package-container">
        <button>Edit</button>
        <button>Submit</button>
      </section>
      <button>Create new</button>
    </article>
    <!-- edit, delete users -->
    <!-- create, edit delete packages -->
    <!-- create, edit, delete agent -->
    <!-- create, edit, delete agency -->
  </body>
</html>
