<!-- GAVIN -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/profile.css" />
    <script defer src="/profile.js"></script>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a href="/sign-out">Sign Out</a>
      <a href="/profile/book-trip">Book trip</a>
    </nav>
    <article>
      <h1 class="name">Hello</h1>
      <h1>Your Trips</h1>
      <section class="trips-container"></section>
    </article>
  </body>
</html>
