<!-- GAVIN -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/sign-in.css" />
    <script defer src="/sign-in.js"></script>
    <title>Sign in</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a href="./home.html">Home</a>
      <a href="./contact.html">Contact</a>
    </nav>
    <div class="content-container">
      <div class="img-container">
        <img src="/register.jpg" alt="" />
      </div>
      <article>
        <section>
          <h1>WELCOME</h1>
          <a href="/register">Register here</a>
          <div class="or">
            <span></span>
            <p>OR</p>
            <span></span>
          </div>
        </section>
        <form
          class="form"
          action="/api/sign-in"
          method="post"
          style="display: flex; flex-direction: column; width: 20rem"
        >
          <label for="username">Username:</label>
          <input type="text" name="username" class="username" />
          <div class="username-output"></div>
          <label for="password">Password:</label>
          <input type="password" name="password" class="password" />
          <div class="password-output"></div>
          <button type="submit">submit</button>
        </form>
      </article>
    </div>
  </body>
</html>
