html {
  font-family: "Radio Canada Big";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ecd2a4;
}

h1 {
  text-align: center;
}
