html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Radio Canada Big";
}

nav {
  background-color: #44474a;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
}

nav > a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 1;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
  transform: translateX(0);
}

body {
  background: linear-gradient(to bottom, rgb(195, 236, 198), rgb(60, 113, 138));
}
table,
th,
td {
  border: 1px solid black;
}
#thid {
  color: rgb(0, 66, 66);
  background: linear-gradient(
    to bottom right,
    rgb(255, 212, 112),
    rgb(255, 226, 231)
  );
}
/*#thid:hover{
            border: 5px solid black;
            font-size: xx-large;
        }*/
#tdid {
  color: rgb(0, 45, 1);
  background: linear-gradient(to bottom, #c6f1ff, #ffffc0);
}
#tdid:hover {
  border: 5px solid black;
  font-size: xx-large;
}
